@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


/* Set custom variant - Allows us to create page in both light and dark modes */
@custom-variant dark (&:where(.dark,.dark *));

/* Set font for entire project- Quantico */
*{
    font-family: "PT Serif", serif;
}

/* Set theme */
@theme{
    --color-primary: #cb3c27;
}
/* Set scroll bar to off */
::-webkit-scrollbar{
    display: none;
}

/* Reset tw to format text using md */
.reset-tw :not(pre):not(code){
    all:revert;
}

@keyframes dot-scale {
  0%, 100% {
    transform: scale(0.7);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-dot-scale {
  animation: dot-scale 1s ease-in-out infinite;
}