# Byte-compiled / optimized / DLL files
__pycache__/


# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyPI configuration file
.pypirc

./client/src/assets/ref_assets
./old_files/mainenv
mainenv
node_modules